body {
    background-color: #ffffff;
    color: #000000; 
    font-family: Arial, sans-serif;
    margin: 20px; 
    text-align: center; 
}

#aboutpage {
    background-color: #FFFBCC;
}

img {
    max-width: 50%;
    height: auto;
}

.funnyface {
    width: 33%;
    max-width: 100%;
    height: auto;
}

ul {
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    text-align: left;
   }

ol {
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    text-align: left;
list-style-position: outside;
margin: 0 auto;
   }

li {
    margin: 10px 0;
}

.tablelist li {
    display: inline-block;
    text-align: left;
    width: 100%;
}


header {
    background: #000000; 
    color: #ffffff; 
    padding: 20px;
}

h1 {
    font-size: 4em;
}

h2 {
	font-size: 2em;
}

p {
    font-size: 15px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

figcaption {
    font-style: italic; 
}

.review {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px; 
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-sizing: border-box;
}

.textbox {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px; 
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.headernav {
 margin: 15px;
 display: flex;
 flex-wrap: wrap;
justify-content: center;
} 

.headernav a {
text-decoration: none;
color: #0a0a23;
background-color: white;
padding: 10px 20px;
border: 2px solid #0a0a23;
border-radius: 8px;
margin-right: 10px;
transition: background-color 0.3s, color 0.3s; 
font-weight: bold;
}

.headernav a:hover {
background-color: black;
color: white;
}

.footernav a {
color: #0a0a23;
}

footer a:visited, footer a:hover {
	color: #0a0a23;
	text-decoration: none;
}

table {
table-layout: auto;
border-radius: 5px;
padding: 10px;
margin: 10px auto;
}

th, td {
	border: 1px solid #ddd;
	padding: 10px;
}

.tabletop {
	background-color: #d8bfd8;
}

.tablebottom {
	background-color: #cccccc;
}

/*FORM DETAILS */

#formpage {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #FFFBCC;
  color: #00008B;
  font-family: Arial, sans-serif;
  font-size: 16px;
}


form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 1em;
}

fieldset {
  padding: 1rem;
  border: 3px solid #3b3b4f;
}

label {
  display: inline-block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #b5e2ff;
  border: 1px solid #0a0a23;
  color: #0a0a23;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: #0a0a23;
  min-width: 300px;
}

button {
	background-color: #0a0a23;
	color: #ffffff;
}
