body {
    background-color: #ffffff;
    color: #000000; 
    font-family: Arial, sans-serif;
    margin: 20px; 
    text-align: center; 
}

img {
    max-width: 50%;
    height: auto;
}

ul {
    width: 80%;
    max-width: 800px; margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: left;
   }

header {
    background: linear-gradient(to bottom, #800080, #000000); 
    color: #ffffff; 
    padding: 20px;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 15px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

figcaption {
    font-style: italic; 
}

