body, h1, h2 {
font-family: "Lucida Console", monospace;
}

body {
background-color: #E6E6FA; 
text-align: center;
margin: 20px;
}

h1 {
font-size: 5em;
}

h2 {
font-size: 3em;
}

p {
font-size: 1em;
}
